* {
    margin: 0px;
    padding: 0px;
    /*outline: 1px dotted red;*/
}

#container {
    width: 970px;
    /*background-image: linear-gradient(#2b5b84, #3776ab);*/
    margin: 0px auto;
    font-family: 'Source Sans Pro', sans-serif;
}

#header img {
    width: 320px;
    height: 100px;
    margin-left: 40px;
    margin-right: 362px;
}

#header p {
    display: inline;
    color: white;
    font-size: 14px;
}

.sp {
    color: black;
}

#header input {
    margin-left: 690px;
}

#header a {
    color: rgb(226, 189, 21);
}

#nav {
    background-color: #3D79AB;
    border-radius: 6px;
    /*border-bottom: rgb(61, 61, 61) 2px solid;*/
    box-shadow: 1px 2px rgba(2, 2, 2, 0.4);
    /*box-shadow: 0px 3px 8px 0px rgba(2, 2, 2, 0.8);*/
    text-align: center;
    width: 810px;
    margin-left: 90px;
    padding: 10px;
    /*Preguntar que pasa con el height*/
    font-size: 22px;
}

#nav ul li {
    display: inline;
}

#nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#main_content {
    background-color: #265175;
}

#left {
    margin-left: 120px;
    margin-top: 36px;
    text-align: center;
    display: inline-block;
    /*Busca la logica*/
}

#right {
    display: inline-block;
    width: 600px;
    margin-left: 46px;
    margin-top: 20px;
    vertical-align: top;
    text-align: center;
    padding-bottom: 20px;
}

#left ul li {
    list-style: none;
    padding-bottom: 8px;
    font-size: 18px;
}

#left a {
    color: white;
}

#right ul {
    margin-top: 10px;
}

#right p {
    color: white;
}

#right ul li {
    list-style: none;
    font-style: italic;
    color: rgb(226, 189, 21);
    padding-bottom: 8px;
    font-size: 20px;
}

#right ul li span {
    font-style: normal;
    color: white;
}

.hr1 {
    width: 380px;
    height: 3px;
    background-color: #75A8D3;
    border-radius: 1px;
    display: inline-block;
    margin-left: 110px;
    margin-right: 20px;
}

.hr2 {
    width: 380px;
    height: 3px;
    background-color: #75A8D3;
    border-radius: 1px;
    display: inline-block;
}

#secondary_content {}

.cards1 {
    width: 300px;
    display: inline-block;
    text-align: center;
    margin-left: 110px;
    margin-right: 140px;
}

.cards2 {
    width: 300px;
    margin-right: 60px;
    display: inline-block;
    text-align: center;
}

.cards2 p span {
    color: #4697dd;
}

.cards1 ul li {
    list-style-type: square;
}

.cards1 ul li a {
    text-decoration: none;
    color: #4697dd;
}

.cards2 ul li {
    list-style-type: square;
}

.cards2 ul li a {
    text-decoration: none;
    color: #4697dd;
}

#footer {
    text-align: center;
    background-image: linear-gradient(180deg, #29577E 0%, #3B7CB4 100%);
    color: #89BAE3;
    margin-top: 20px;
    padding-top: 40px;
}

#footer a {
    text-decoration: none;
    color: #89BAE3;
    margin-right: 50px;
    font-size: 18px;
}

#footer p {
    font-size: 12px;
    margin-top: 25px;
    padding-bottom: 8px;
}

.fo {
    margin-left: 80px;
}