* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 970px;
    margin: 0px auto;
    padding-top: 20px;
    background-image: linear-gradient(white, gray, white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#main_content {
    margin-top: 15px;
    padding-bottom: 20px;
    background-image: radial-gradient(#6f5964, #1c0b10);
}

h1 {
    width: 500px;
    display: inline;
    margin-right: 390px;
    margin-left: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 28px;
}

h2 {
    width: 400px;
    display: inline;
}

.pimg {
    width: 450px;
    height: 300px;
    border: 5.5px solid #dbd4d4;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

#about {
    background-image: linear-gradient(to right, #ececec, #cfcfd1);
    width: 445px;
    height: 310px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

#about h2 {
    background-image: linear-gradient(#b3b3b6, #878693, #b3b3b6);
    color: white;
    display: block;
    padding: 10px 0px 10px 10px;
    font-weight: bold;
}

#about a {
    margin-left: 10px;
}

#sp {
    margin: 10px 10px 20px 10px;
}

#sp1 {
    margin: 0px 10px 10px 10px;
}

#subcontents {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

.cards {
    width: 294px;
    height: 550px;
    background-image: linear-gradient(to right, #fdfdfd, #d2c3d0);
    display: inline-block;
}

#card_central {
    margin-right: 20px;
    margin-left: 20px;
}

.cards h3 {
    background-image: linear-gradient(#b3b3b6, #878693, #b3b3b6);
    color: #FFFFFF;
    display: block;
    padding: 10px;
}

.cards h4 {
    background-image: linear-gradient(#b3b3b6, #878693, #b3b3b6);
    color: white;
    display: block;
    padding: 10px;
    margin-bottom: 8px;
}

.cards img {
    height: 150px;
    width: 294px;
    margin-bottom: 6px;
}

.cards p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 28px;
    height: 100px;
}

#techs {
    vertical-align: top;
    display: inline-block;
    padding: 0px 0px 0px 10px;
}

#techs img {
    width: 43px;
    height: 43px;
    display: inline-block;
    margin-right: 10px;
}

#boton {
    margin-top: 14px;
    text-align: center;
}

#boton a {
    text-decoration: none;
    color: #F3F3F3;
    background-color: #085a23;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(71, 71, 71, 0.2)
}

#footer {
    margin-top: 20px;
    text-align: center;
}

#footer a {
    font-style: italic;
}

#footer img {
    width: 18px;
    height: 18px;
}

#rs {
    margin-top: 10px;
    margin-bottom: 20px;
}