* {
    margin: 0px;
    padding: 0px;
}

.navbtn {
    width: 200px;
    height: 150px;
}

@media only screen and (max-width: 1024px) {
    .navbtn {
        background-color: red;
    }
}

@media only screen and (max-width: 595px) {
    .navbtn {
        background-color: blue;
    }
}

@media only screen and (max-width: 395px) {
    .navbtn {
        background-color: yellow;
    }
}